* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --navbar-color: #212832;
  --text-hero-color: #df6951;
  --title-hero-color: #181e4b;
  --link-hero-color: #f1a501;
  --play-demo-color: #686d77;
  --main-title-and-text-section-color: #5e6282;
  --title-section-color: #14183e;
  --small-title-color: #1e1d4c;
  --best-flight-postion-color: #df6951;
}
.container {
  padding: 0 15px;
  margin: auto;
}
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
header {
  padding: 47px 0;
  border-bottom: 1px solid black;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header nav {
  position: relative;
}
header nav input {
  appearance: none;
}
@media (min-width: 992px) {
  nav label,
  nav input {
    display: none;
  }
}
header ul {
  display: flex;
  align-items: center;
  list-style: none;
}

header li a {
  display: block;
  padding: 0 20px;
  font-family: "Poppins", serif;
  font-size: 17px;
  font-weight: 500;
  color: var(--navbar-color);
}
header li .signup {
  border: 1px solid var(--navbar-color);
  border-radius: 5px;
  padding: 4px 10px;
}
header li select {
  border: none;
  outline: none;
  background-color: transparent;
  padding: 0 20px;
}
section {
  padding: 75px 0;
}
.hero .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  width: 50%;
}
.hero .content .pr-top {
  font-family: "Poppins", serif;
  font-size: 20px;
  font-weight: 700;
  color: var(--text-hero-color);
}
h1 {
  font-family: "Volkhov", serif;
  font-size: 68px;
  font-weight: 700;
  line-height: 89px;
  letter-spacing: -4%;
  margin: 25px 0;
  color: var(--title-hero-color);
}
.hero .content .pr-bottom {
  font-family: "Poppins", serif;
  color: var(--main-title-and-text-section-color);
}
.hero .content .btn {
  display: inline-block;
  padding: 20px;
  border-radius: 10px;
  color: white;
  background-color: var(--link-hero-color);
}
.hero .content .play-demo {
  display: inline-block;
  font-family: "Poppins", serif;
  font-size: 17px;
  font-weight: 500;
  color: var(--play-demo-color);
}
.images .blob {
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
@media (max-width: 991px) {
  header ul {
    display: none;
    position: absolute;
    top: 50px;
    right: 0;
    background-color: white;
  }
  header nav input:checked + ul {
    display: block;
  }
  header li {
    padding: 8px 0;
    border-bottom: 1px solid var(--navbar-color);
  }
  header li a {
    padding: 0;
  }
  h1 {
    font-size: 45px;
    font-weight: 700;
    line-height: 55px;
  }
  .images {
    display: none;
  }
}
